.form {
  padding: 10px;
  border: none;
  color: #fff;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  margin-top: 40px;
}
.form input {
  width: 300px;
  padding: 20px;
  background-color: #d5d5d5;
  height: 50px;
  border-radius: 25px;
  color: #212121;
  text-align: left;
  text-transform: capitalize;
  display: inline-block;
  margin-right: 15px;
}
.mybtn {
  width: 100px;
  border-radius: 20em;
  color: #fff;
  background-color: green;
  border: none;
  font-size: 1.25rem;
  padding: 15px;
}
/* .btn:hover {
  background-color: grey;
  cursor: pointer;
} */
